{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}

{% block coltype %}colMS{% endblock %}

{% block title %}{% trans "Synchronization" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
    {% trans "Synchronization" %}
</div>
{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
<h1>{% trans "Synchronization" %}</h1>
<form method="post">
    {% csrf_token %}
    <br>{% trans 'Last synchro time' %}: {{ last }}.
    <br><br><input type="submit" name="synchro" value="{% trans 'Synchronize' %}">

    {% if reset_allowed %}
        <br><br><input type="submit" name="reset" value="{% trans 'Reset synchronization' %}"
            onclick="return confirm('{% trans "All changes from last synchronization up to now will be forgotten and won't be synchronized in the future. Are you sure you want to proceed?" %}');">
    {% endif %}
</form>
</div>
{% endblock %}
